* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 70px;
  background-color: #d82c2e;
  border-bottom: 1px solid #ffff;
}
header ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
header li {
  transition: all 0.3s;
  display: block;
  padding: 24px 16px;
}
header li a {
  text-decoration: none;
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
header li:hover {
  background-color: #ffff;
}
header li:hover a {
  color: #d82c2e;
}

.banner {
  background-color: #d82c2e;
  margin: 0px;
  height: 700px;
  text-align: center;
}
.banner h1 {
  color: #ffff;
  font-size: 36px;
  margin-top: 16px;
}
.banner h2 {
  font-size: 26px;
  margin-top: 4px;
}
.banner .cv_download_btn {
  height: 60px;
  width: 200px;
  font-style: "Lato", sans-serif;
  font-size: 18px;
  color: #fff;
  background: none;
  border-box: none;
  border: solid 1px;
  border-radius: 15px;
  border-color: #ffff;
  margin-top: 40px;
  box-shadow: 4px 4px 6px #0002;
  transition: all 0.3s;
}
.banner .cv_download_btn:hover {
  background-color: #ffff;
  color: #d82c2e;
}

.banner_head_picture {
  width: 380px;
  display: inline-block;
  margin-top: 60px;
}

.red_divider, .banner_red_divider {
  height: 4px;
  width: 200px;
  border-radius: 2px;
  background-color: #d82c2e;
  margin: 0px auto;
}

.competences {
  padding-top: 50px;
  position: relative;
  background-color: #ffffff;
  display: block;
}
.competences h2 {
  color: #d82c2e;
  font-size: 36px;
  margin-top: 30px;
  text-align: center;
}
.competences .level_bars_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.competences .level_bars_container > div {
  margin-top: 50px;
  text-align: center;
  min-width: 360px;
  width: 30%;
}
.competences .level_bars_container > div p {
  color: #d82c2e;
  font-size: 20px;
  margin-bottom: 10px;
}
.competences .level_bars_container .js .level {
  width: 85%;
}
.competences .level_bars_container .css .level {
  width: 90%;
}
.competences .level_bars_container .scss .level {
  width: 75%;
}
.competences .level_bars_container .html .level {
  width: 100%;
}
.competences .level_bars_container .php .level {
  width: 95%;
}
.competences .level_bars_container .py .level {
  width: 70%;
}
.competences .level_bars_container .react_native .level {
  width: 50%;
}
.competences .level_bars_container .django.level {
  width: 90%;
}
.competences .level_bars_container .react_native .level {
  width: 50%;
}

.level_bar {
  display: inline-block;
  height: 30px;
  width: 350px;
  border: solid 2px #d82c2e;
  border-radius: 15px;
  padding: 0px;
  overflow: hidden;
}
.level_bar .level {
  background-color: #d82c2e;
  height: 100%;
  width: 60%;
  color: #ffff;
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
}

.projects-cards {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 400px;
  margin-bottom: 0px;
  bottom: 1px;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #d82c2e;
}
.projects-cards .flex_container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  margin: 100px auto;
  margin-bottom: 0px;
  height: auto;
}
.projects-cards .flex_container .card {
  background-color: #ffffff;
  width: 550px;
  text-align: center;
  overflow: hidden;
  border-radius: 26px;
  margin-bottom: 50px;
}
.projects-cards .flex_container .card img {
  width: 100%;
}
.projects-cards .flex_container .card h3 {
  font-size: 32px;
  color: #d82c2e;
  margin-top: 20px;
}
.projects-cards .flex_container .card p {
  font-size: 20px;
  margin-bottom: 20px;
}
.projects-cards h2 {
  color: #ffffff;
  font-size: 36px;
  margin-top: 30px;
  text-align: center;
}

footer {
  height: 100px;
  width: 100%;
  border-top: 3px solid #ffffff;
  background-color: #d82c2e;
  text-align: center;
  padding-top: 40px;
  position: relative;
}

/*general*/
* {
  font-family: "Lato", sans-serif;
}

/*banner*/
.banner_red_divider {
  margin-top: 1px;
}

.projects-cards .red_divider, .projects-cards .banner_red_divider {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
