@import "abstract/variables.scss",
"abstract/mixins.scss",
"layout/reset",
"layout/header",
"layout/banner",
"components/red_divider",
"layout/competences",
"components/level_bar",
"layout/projects_cards",
'layout/footer';

/*general*/
*{
  font-family: $main-font;
}
/*banner*/
.banner_red_divider{
  @extend .red_divider;
  margin-top: 1px;
}
.projects-cards{
  .red_divider{
    background-color: white;
  }
}