.rave-bot{
  overflow: hidden;
  height: 92vh;
  h1{
    color: #ffff;
    font-size: 36px;
    margin-bottom: 50px;
  }
  img{
    width: 100%;
  }
  div > div{
    width: 500px;
    height: 230px;
    position: absolute;
    left: 10%;
    top: 30%;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 30px;

    h3{
      color: $main-red;
      font-size: 36px;
      text-align: left;
    }
    p{
      font-size: 24px;
      color: grey;
      margin-top: 20px;
    }


  }
  .git-link{
    display: block;
    margin-left: auto;
    margin-right: 60px;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 320px;
  }

}