/*j'ai cracouz c'est mocheeeeeeeeeeee*/
.rave{
  text-align: center;
  padding-top: 50px;
  h2{
    color: #ffff;
    font-size: 36px;
    margin-bottom: 50px;
  }
  background-color: $main-red;
  width: 100%;
  .content{
    width: 100%;
  }
  .imgs{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    height: 600px;
    grid-template-rows: 500px;
    .conv{
      grid-column: 2/3;
    }
    .git{
      grid-column: 3/4;
    }
    img{
      height: 500px;
      width: 100%;

    }
  }
}